.m-num-operator{
	display: flex;
	width: 1.8rem;
	height: .5rem;
	border: 1px solid #BDBDBD;
	border-radius: .1rem;
}

.m-num-operator button{
	height: .5rem;
	line-height: .5rem;
	width: .5rem;
	background: none;
	border: none;
}

.m-num-operator button:first-child{
	border-right: 1px solid #BDBDBD;
}

.m-num-operator button:last-child{
	border-left: 1px solid #BDBDBD;
}

.m-num-operator input{
	width: .6rem;
	flex-grow: 1;
	text-align: center;
	font-size: .25rem;
	border: none;
}